body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  text-align: center;
  margin: 20px 0;
}

h1 {
  font-size: 3em;
}

.handwriting {
  font-family: 'Brush Script MT', cursive;
  color: #b30000;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

h2, h3 {
  color: maroon;
}

p {
  line-height: 1.6;
}

img.rounded {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  transition: transform 0.3s;
}

img.rounded:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #1d1d1d;
  color: #fff;
  margin-top: 30px;
}